.master-head {
  height: 100vh;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
  background: url("../assets/images/01.jpg") no-repeat left top;
  background-size: cover;
}

.navbar-light .navbar-brand {
  color: #fff;
}
